# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Thumbnails
Thumbs.db
Desktop.ini

# Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
env/
venv/
ENV/
.venv/
.pytest_cache/

# Flask
instance/
*.db

# Node.js (Vue.js frontend)
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase
firebase-debug.log
.firebaserc

# Log files
*.log

# VS Code settings (if using VS Code)
.vscode/

# Other
.idea/
*.swp
